<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tasks</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Filter Taks" animated></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddTaskModel()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item button *ngFor="let task of tasks">
      <ion-label>
        <h2>{{ task.name }}</h2>
        <h3>{{ task.companyDetails?.name }}</h3>
        <p>{{ task.date | date: 'dd/MM/yyyy' }} {{ task.time | date: 'H:mm' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>