<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>TaskML</ion-list-header>
          <ion-note>Build your task</ion-note>

          <ion-menu-toggle auto-hide="false"> <!-- *ngFor="let p of appPages; let i = index"> -->
            <ion-item (click)="selectedIndex = 1" routerDirection="root" [routerLink]="['/', 'companies']" lines="full" detail="false" [class.selected]="selectedIndex == 1">
              <!-- <ion-icon slot="start" [ios]="podium-outline" [md]="podium-outline"></ion-icon> -->
              <ion-icon slot="start" name="podium-outline"></ion-icon>
              <ion-label>Companies</ion-label>
            </ion-item>
            <ion-item (click)="selectedIndex = 2" routerDirection="forward" [routerLink]="['/', 'tasks']"  lines="full" detail="false" [class.selected]="selectedIndex == 2">
              <!-- <ion-icon slot="start" [ios]="podium-outline" [md]="podium-outline"></ion-icon> -->
              <ion-icon slot="start" name="calender-outline"></ion-icon>
              <ion-label>Tasks</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
        <ion-list id="labels-list">
          <ion-list-header>Created By</ion-list-header>

          <ion-item lines="none">
            <ion-label>Biswajit Ganguly</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
