<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>companies</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Filter Companies" animated></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-segment [(ngModel)]="selectedView">
    <ion-segment-button value="devs">
      <ion-label>Developer</ion-label>
    </ion-segment-button>
    <ion-segment-button value="products">
      <ion-label>Products</ion-label>
    </ion-segment-button>
  </ion-segment> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddCompanyModel()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item button *ngFor="let company of companies">
      <ion-label>
        <h2>{{ company.name }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
